@import url("https://fonts.googleapis.com/css?family=Lato");

:root {
  --bg-wrapper: #eceff1;
  --bg-btn: #ff5a00;
  --bg-btn-active: #ff9c66;
  --bg-btn-hover: #ff7b33;
  --bg-choice: #1bb826;
  --color-text: #222;
}

/* GENERAL SECTION */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.wrapper {
  font-family: "Lato", sans-serif;
  background: var(--bg-wrapper);
  display: flex;
  flex-flow: column wrap;
}

.wrapper-main {
  order: 3;
}

b,
strong {
  font-weight: bolder;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
}

button {
  text-transform: none;
  -webkit-appearance: button;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.button {
  -moz-appearance: none;
  -ms-text-size-adjust: 100%;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--color-text);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 21px;
  line-height: 40px;
  margin: 0;
  overflow: hidden;
  padding: 0 13px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-size-adjust: 100%;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  background: var(--bg-btn);
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button:active {
  background: var(--bg-btn-active);
}

.button:focus,
.button:hover {
  background: var(--bg-btn-hover);
}

/* HEADER SECTION */

.wrapper-header {
  order: 0;
  /* padding: 10px 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-img {
  top: 0.5rem;
  display: inline-block;
  max-width: 70px;
  position: relative;
}

/* FILTER SECTION */
.wrapper-filter {
  order: 1;
}

.choice {
  cursor: pointer;
  margin-top: 16px;
  opacity: 0;
  position: absolute;
}

.choice + .choice-label {
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  line-height: 20px;
  padding: 4px 0;
  padding-left: 28px;
  position: relative;
  text-size-adjust: 100%;
}

.choice + .choice-label:active {
  background-color: #fff;
  border-radius: 2px;
  opacity: 0.3;
}

.choice + .choice-label:before {
  border: 1px solid #aaa;
  border-radius: 2px;
  box-sizing: border-box;
  content: "";
  display: inline-block;
  height: 20px;
  margin-left: -28px;
  margin-right: 8px;
  min-width: 20px;
  transition: border-color 0.3s;
  vertical-align: top;
}

.choice + .choice-label:hover:before,
.choice:hover + .choice-label:before {
  border-color: #767676;
}

.choice + .choice-label:hover:before,
.choice:checked + .choice-label:before,
.choice:hover + .choice-label:before {
  border-width: 2px;
}

.choice + .choice-label:after {
  background: transparent;
  content: "";
  display: inline-block;
  position: absolute;
  transform-origin: top left;
}

.choice--radio + .choice-label:after {
  border-radius: 50%;
  height: 8px;
  left: 6px;
  top: 10px;
  width: 8px;
}

.choice--radio:checked + .choice-label:after {
  background: var(--bg-choice);
}

.choice:checked + .choice-label:before {
  border-color: var(--bg-choice);
}

.choice--radio + .choice-label:before {
  border-radius: 50%;
}

.filter-input {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  vertical-align: top;
  -moz-appearance: none;
  -ms-text-size-adjust: 100%;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  appearance: none;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--color-text);
  height: 40px;
  line-height: 21px;
  margin: 0;
  min-width: 0;
  outline: none;
  padding: 8px;
  text-size-adjust: 100%;
  width: 100%;
}
.filter {
  background: #fff;
  padding: 8px;
}
.filter-input:focus,
.filter-input:hover {
  border-color: #767676;
  box-shadow: 0 0 0 1px #767676;
}

.sort {
  background: #fff;
  padding: 10px;
}

.sort-options {
  list-style-type: none;
  padding-left: 8px;
  margin: 8px;
}

.sort-header {
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 8px 0;
}

/* ASIDE SECTION */

.wrapper-aside {
  order: 2;
}

@media only screen and (min-width: 544px) {
  .sort {
    margin-right: 8px;
  }

  .wrapper {
    margin: 8px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
    -ms-grid-rows: 80px 56px 1fr;
    grid-template-columns: 40% 60%;
    grid-template-rows: 80px 56px 1fr;
  }

  .wrapper-header {
    order: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / -1;
  }

  .wrapper-aside {
    order: 1;
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .wrapper-filter {
    order: 2;
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    grid-column: 2;
    grid-row: 2;
  }

  .wrapper-main {
    order: 3;
    -ms-grid-column: 2;
    -ms-grid-row: 3;
    grid-column: 2;
    grid-row: 3;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    -ms-grid-columns: 300px 1fr;
    grid-template-columns: 300px 1fr;
  }
}
